
.resto-tables-span {
     flex-direction: column;
    border: 1px solid black;
    height: 200px;
    width: 250px;
    text-align: center;
    font-size: 80px;

}

.table-respo {
    width: 100%;
      display:flex; 
     flex-wrap: wrap; 

}

.img-resto-table {    
    height: 50px;
    width: 30px;
    flex-direction: column;
    align-items: center;
}



.span-img {
    display:flex;
   

}

.occupied {
    background-color: aliceblue;
}

.nav-resto {
    background-color: aquamarine;
    width: 100%;
    height: 70px;
    margin-bottom: 1%;
}

.table-logo-resto {
    height: 50px;
    width: 50px;
}
