body{
	margin: 0;
	padding: 0;
}

.table-respo{
	margin: 0;
	padding: 0;
	margin-top: 0;
}

.resto-tables-span{
	display: flex;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.img-resto-table{
	display: inline-flex;
}

.occupied{
	background-color: #ffb6c1;
}

.unoccupied{
	background-color: #ccccff;
}

.reserved{
	background-color: #ffff99;
}

.table-link{
	text-decoration: none;
	color: #000;
	text-align: center;
}

.table-link:hover{
	text-decoration: none;
	color: #000;
	text-align: center;
}