/* COLORS */
/* GOLD DARKER #e6b800 */
/* LIGHTER #ffcc00 */

/* BROWN DARKER #663300 */
/* LIGHTER #994d00 */

.btn-login{
    position: absolute;
    bottom:50px;
    left:0;
    width: 100%;
    height: 50px;
    padding: 0;
    border:0;
    background-color: #e6b800;
    color:white;
}

.btn-login:hover{
    background-color: #ffcc00;
}

.btn-register{
    position: absolute;
    bottom:0px;
    left:0;
    width: 100%;
    height: 50px;
    padding: 0;
    border:0;
    background-color: #663300;
    color:white;
}

.btn-register:hover{
    background-color: #994d00;
}

.login-banner{
    height: 90px;
    width: auto;
}

.login-header{
    position: relative;
    width:338px;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.login-wrapper{
    position:relative;
    top:calc(13%);
}

.login-text-box{
    text-align:center;
}

.login-footer{
    position:relative;
    bottom: -100px;
    text-align: center;
    font-size: 85%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.login-password-text-box{
    position:relative;
}

.show-off, .show-on{
    position:absolute;
    font-size:19px;
    top:171px;
    right: 30px;
}

.show-off:hover, .show-on:hover{
    cursor: pointer;
}

.show-on{
    color: #e6b800;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.background-img-table{
    height:100%;
    width: 100%;
}

.el-page-header{
    padding-top:30px;
    width:100%;
    height: 60px;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    text-align: center;
    margin-top:0px;
    margin-bottom: 25px;
}

.table-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; /* or space-around */
    padding-left: 15px;
    padding-right: 10px;
}

.el-table-page{
    background-image: url(../img/pexels-photo-179130.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.el-img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.table-reserved{
    background-color: lightblue;
}

.table-unoccupied{
    background-color: bisque;
}

.table-occupied{
    background-color: lightcoral;
}

.el-nav{
    background-color: #e6b800;
    width:100%;
    height: 60px;
}

.el-logo-nav img{
    margin-top:5px;
    margin-left:10px;
    height:50px;
    width:auto;
}

.el-user-nav{
    float:right;
    color:white;
    font-size: 18px;
    margin-top: 18px;
    margin-right: 15px;
}

.table-status-select {
    font-size: 20px;
    text-align:center;
    width:100%;
    margin-bottom: 20px;
}

#header-drop-down{
    color:black;
    list-style:none;
    z-index: 1000;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    background-color:white;
    padding:0px;
    position: absolute;
    right: 10px;
}
#header-drop-down li{
    border: 1px solid rgba(0,0,0,.15);
    padding:10px 20px;
}

#header-drop-down li:last-of-type{
    border-top: none; 
}

#header-drop-down li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#header-drop-down li:hover{
    background-color: #e6b800;
}

#header-drop-down li:hover a{
    color: white;
}

.container-resto {
    position: relative;
    width: 340px;
    height: 345px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .1);
}


.login-error{
    padding-bottom:20px;
    color:darkred;
}