
.resto-tables-span {
     flex-direction: column;
    border: 1px solid black;
    height: 180px;
    width: 230px;
    text-align: center;
    font-size: 80px;
}

.table-respo {
    width: 100%;
      display:flex; 
     flex-wrap: wrap; 

}

.img-resto-table {    
    height: 50px;
    width: 30px;
    flex-direction: column;
}

span {
    display:flex;
    align-items: center;
}

.nav-resto-table {
    width: 100%;
    background-color: #e6b800;
    height: 55px;
    margin-bottom: 1%;
}

.nav-resto-table-logo {
    height: 50px;
    width: 50px;
    margin: 1px;
    padding: 1px;
}
